:root {
  color-scheme: light dark;
  color: var(--colorNegro);
  background-color: var(--colorBlanco);

  --colorFondo: #f7f7e4;
  --colorPrimario: #145a1ee5;
  --colorSubmenu: #8ed14a91;
  --colorCardGris: #dfd9d9;
  --colorCardVerde: #beec8f;
  --colorCardRosa: #f5a79f;
  --colorCardEdit: #F5EFB7;
  --colorError: #df3232;
  --colorSombra: #242422ce;
  --colorStock: #737dba;
  --colorBlanco: #f2f2f3;
  --colorNegro: #000000;
  --colorPropuesta: #e9b882;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--colorFondo);
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex: 1;
  height: 80vh;
  padding: .5rem 1rem;
}
nav{
  overflow: hidden;
  padding: .1rem;
  background-color: var(--colorPrimario);
}
nav,
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

nav ul {
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

nav ul li {
  text-align: center;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

nav ul li:hover {
  box-shadow: 1px 1px 1px var(--colorSombra);
}

nav ul li:active {
  background-color: var(--colorSubmenu);
}

nav a {
  color: var(--colorBlanco);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

nav a:hover {
  scale: 1.1;
}

.botonera{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

button{
  border-radius: 10px;
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  padding: .5rem 1rem;
  cursor: pointer;
  border: none;
}

button:hover{
  box-shadow: 1px 1px 1px var(--colorSombra);
  scale: 1.05;
}